<div id="nav">
<nav>
  <ul>
    <% find_user %>
    <% if logged_in? %>
    <li><a href='/account/show'>Account</a></li>
    <li><a href='/logout'>Log out</a></li>
    <!-- <li ><a href='/account/show'>Homepage</a></li> -->
    <% else %>
    <li><a href='/'>Log in</a></li>
    <li><a href='/register'>Register</a></li>
    <!-- <li ><a href='/'>Homepage</a></li> -->
    <% end %>
  </ul>
</nav>
</div>
